---
title: "5 Ways to scale remote work on your team"
author: Betsy Bula
author_gitlab: bbula
author_twitter: betsybula
categories: culture
image_title: /images/blogimages/library/remote-work.png
description: "Learn how technology businesses are embracing the future of work by going all-remote."
tags: remote work
twitter_text: "REMOTE by GitLab featured a blockbuster line-up of experts in the remote work world"
featured: no
postType: content marketing
related_posts:
  - "/blog/2021/03/12/best-practices-remote-engineering/"
  - "/blog/2021/03/02/agile-for-remote-work/"
  - "/blog/2021/02/17/considerations-for-going-hybrid-remote/"
merch_banner: merch_six
---

At GitLab, we believe that remote work at scale will define not only the future of work, but the future of living. We created [REMOTE by GitLab](https://remotebygitlab.com/) to bring together the remote work community and answer the questions many companies are asking: "How do we do this, and what's next?"

We heard from some of the top leaders in remote work, from large companies that made the decision to leave the office behind, to teams of experts who have been studying the organizational design for years.

We share five lessons from the REMOTE by GitLab event that your team can apply to uplevel your remote practices and culture.

## Set guiding principles for your remote transition (and stick to them)

As you navigate the changes that come with implementing remote-first practices, it's important to have a set of values and guiding principles that your team can refer back to each time you make a decision, process, or change.

Daisy Linden, employee experience and remote-first at Coinbase, and Dominique Baillet, global head of employee experience and diversity and inclusion at Coinbase, shared the story of why their organization decided to be a virtual-first company, and what principles they leaned on throughout the transition to remote work. Watch their session in the video below for more insights and lessons learned.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/qOoiWVgWbYY" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Hire a remote work lead

If your organization is grappling with decisions about the future of work, it's crucial to have guidance and leadership from someone with experience converting remote work from a logistical challenge to a strategic advantage. This is even more important as your team grows and scales. That's why many companies are hiring a "Head of Remote" to guide them on this journey.

We learned how Facebook's team is approaching remote work in a session from Annie Dean, Director of Remote Work, at the social media platform. Watch Annie's session to learn how her team works, and what insights she has for other remote leaders.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/VSQRMv-N1Ls" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Invest in your team's workspaces

Companies that are going all-remote or embracing a hybrid-remote structure may be saying goodbye to corporate office space, but that doesn't mean employees should be required to set up their own workspaces. A healthy workspace enables productive work and promotes physical and mental wellbeing. Just like in a colocated office, it's up to leaders to support their teams in creating positive work environments from home, or any location they choose to work remotely.

In this session, workspace expert Ryan Anderson from MillerKnoll shares everything you need to know to create your best workspace.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/l9jmb8TE7sw" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

See how [GitLab team members set up their workspaces](/blog/2019/09/12/not-everyone-has-a-home-office/) – from the home office to being on the road, and learn more about the [tools GitLab's all-remote workforce swears by](/blog/2019/10/10/whats-in-your-backpack/).

## Build a rest ethic within your organization

Just as leaders and managers are responsible for setting their team up for success at work, they are also responsible for ensuring they take time away from work. This is crucial not just for preventing burnout, but also for increasing employee engagement, enthusiasm, and productivity.

John Fitch, the founder of Time Off, says your team's "rest ethic" is just as important as their work ethic. Watch his session to find out how you can update your organization's practices to make intentional time off part of your culture, and unlock the full potential of your team.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/bQMoF7oSh2o" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Shift your collective mindset from productivity to purpose

We must unlearn traditional work habits and shift our mindset to truly embrace the future of work and living. During his talk at REMOTE by GitLab, Alastair Simpson, Dropbox VP of Design, shared the lessons Dropbox  learned as they continue to redesign the way they work.

As Alastair points out, it's up to leaders and managers to help their teams feel purpose beyond just work, turning traditional ways of working into human-centered ways of working. Watch the video below to learn more:

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/FfYstjnCre8" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Ready to go REMOTE?

Explore more best practices in the remote work world by watching talks from leaders at Twitter, Robinhood, Harvard Business School, Remote, and more. Every session from REMOTE by GitLab is available on-demand on the [GitLab YouTube channel](https://www.youtube.com/c/Gitlab/playlists?view=50&sort=dd&shelf_id=1).
